@import "reset";

$base-size:         16px;
$base-lineheight:   1.5;
$base-style:        normal;
$container-width:   800px;

$sans:             'Open Sans';
$sans-narrow:      'Open Sans Condensed';
$sans-condensed:   'Open Sans Condensed';

$light:     400;
$book:      400;
$medium:    600;
$semi-bold: 600;
$bold:      600;

$off-white:   #f7f7f7;
$dark-grey:   #2d3033;
$blue:        #4D89C1;
$teal:        #278998;
$seafoam:     #31A480;
$green:       #94D78E;
$red:         #D7431B;
$orange:      #B24626;
$yellow:      #D7A627;
$grey:        #585A5B;
$pink:        #E6679A;

/* BASE */
* {box-sizing: border-box;}

html, body {
    font-style:     $base-style;
    font-weight:    $book;
    font-family:    $sans;
    font-size:      $base-size;
    line-height:    $base-lineheight;
    color:          $dark-grey;
    background:     $off-white;
    width:          100%;
    height:         100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

/* STRUCTURE */
input, select, button, textarea, a {
    transition: 0.2s all;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-tap-highlight-color: transparent;
    font-style:     $base-style;
    font-weight:    $book;
    font-family:    $sans;
}

strong {
  font-weight: $bold;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: rgba($off-white,0.1);
}

::-webkit-scrollbar-thumb {
    background: darken($pink,20%);
}

#video-container {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

#player {
  position: absolute;
  z-index: 1;
}

#progressContainer {
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;

  &:hover {
    #progress {
      opacity: 1;
      height: 25px;
      border-top: 1px solid black;
    }
    input[type="range"]::-webkit-slider-thumb {
      width: 15px;
    }
  }
}

#progress {
  position: absolute;
  top: 0;
  width: 100%;
  height: 5px;
  background: darken($dark-grey,10%);
  border: none;
  outline: none;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  background-color: darken($pink,20%);
  width: 6px;
  height: 28px;
  top: 0px;
  cursor: ew-resize;
  transition: width 0.2s;
}

#topList {
  position: absolute;
  top: 60px;
  left: 0px;
  width: 0px;
  height: 70vh;
  background-color: $off-white;
  z-index: 3;
  transition: width 0.2s;


  &.active {
    background: $off-white;
    width: 400px;
    transition: width 0.2s;

    &:before {
      content: "Songs list (click to play)";
      font-size: 1.25rem;
      position: absolute;
      top: -29px;
      left: 32px;
      color: $off-white;
      white-space: nowrap;
      color: white;
      font-weight: $bold;
    }

  }

  ol {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 0.8rem;
  }

  ol li {
    list-style-type: decimal;
    margin-left: 2.25rem;
    padding: 0;
    cursor: pointer;
    white-space: nowrap;

    em {
      font-size: 0.8rem;
      font-style: italic;
    }

    strong {
      font-size: 0.8rem;
      font-style: normal;
    }

  }
}

#playerControls {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 50px;
  display: flex;
  background: darken($dark-grey,20%);
  transition: height 0.2s;

  button {
    z-index: 3;
    outline: none;
    border: none;
    color: white;
    text-shadow: 2px 2px 0 #000;
    cursor: pointer;
    z-index: 3;
    background: transparent;
    color: $off-white;
    font-size: 2rem;
    font-weight: 300;
    transition: none;
    flex: 1 0 10%;
    font-family: 'FontAwesome';
  }

  #play, #pause {
    &.hidden {
      display: none;
    }
  }

  #info {
    &.active {
      color: darken($pink,20%);
    }
  }

  #topListBtn {
    &.active {
      color: darken($pink,20%);
    }
  }
}

#screen {
  background: black;
  opacity: 0;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 2;

  &.active {
    opacity: 0.8;
  }
}

#songInfo {
  background: darken($dark-grey,20%);
  position: absolute;
  bottom: 50px;
  width: 100%;
  height: 0px;
  transition: height 0.2s;
  color: $off-white;
  padding-left: 1rem;
  overflow: hidden;
  font-size: 1rem;
  line-height: 30px;
  text-align: center;

  &.active {
    height: 30px;
    color: $off-white;
  }
}
