@import url(http://fonts.googleapis.com/css?family=Lato);
body {
  font-family: Lato;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background: #f5f5f5;
}

.logo{
  max-width:300px;
  width:100%;
}

#black-background{
  z-index:1;
  width:100%;
  height:100%;
  position:absolute;
  background-color:#000;
  opacity:0.35;
}

#prelaunchContainer{
  z-index: 2;
  width:100%;
  height:100%;
  position:absolute;
}


#socialmedia{
  margin-top:30px;
  margin-left:-10px;
  transition:opacity 0.5s linear;
}
#appstore i{
  margin-top:30px;
  transition:opacity 0.5s linear;
}

#phone {
  width: 248px;
  height: 512px;
  border: 2px solid #ccc;
  border-radius: 30px;
  position: absolute;
  left: 45%;
  top: 75px;
  margin: 0 -310px;
  background: #fff;
}

/* phone */
@media (max-width: 480px) {
  #phone{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    border:0;
    border-radius:0;
    position:relative;
    left:0;
    top:0;
    /*background:transparent;*/
    display:none;
  }
}




#mobile-screen {
  width: 232px;
  height: 416px;
  border: 1px solid #ccc;
  position: absolute;
  left: 61.5%;
  top: 59%;
  margin: -260px -145px;
  box-sizing: border-box;
  overflow: hidden;
  display:block !important;
}
@media (max-width: 480px) {
  #mobile-screen {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    position: relative;
    left: 0;
    top: 0;
    margin: 0;

    box-sizing: border-box;
    overflow: hidden;
    display:none !important;
  }
}


#home {
  width: 36px;
  height: 36px;
  border: 1px solid #ccc;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin: 0 -18px;
  border-radius: 50%;
}

#speaker {
  width: 50px;
  height: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  top: 25px;
  margin: 0 -25px;
}

#header {
  height: 46px;
  background: #353541;
  position: relative;
  z-index: 30;
  /*cursor: -webkit-grab;*/
  /*cursor: grab;*/
}
#header:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.pullmenu-icon {
  width: 16px;
  height: 2px;
  background: #FFF;
  position: absolute;
  right: 200px;
  bottom: 27px;
  cursor:pointer;
  -webkit-transition: opacity .2s ease-in-out;
          transition: opacity .2s ease-in-out;
}
.pullmenu-icon:after {
  content: '';
  width: 8px;
  height: 2px;
  background: #FFF;
  position: absolute;
  top: 10px;
  left: 4px;
}
.pullmenu-icon:before {
  content: '';
  width: 16px;
  height: 2px;
  background: #FFF;
  position: absolute;
  top: 5px;
  left: 0;
}
.pullmenu-icon.hide {
  opacity: 0;
}

#title {
  height: 46px;
}

#menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 3000px;
  position: absolute;
  top: 50%;
  margin: -15px 0px;
  -webkit-transition: -webkit-transform .2s ease-out;
          transition: transform .2s ease-out;
}
#menu li {
  color: #FFF;
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  padding: 0 20px;
  opacity: 0;
  -webkit-transition: opacity .2s ease-out;
          transition: opacity .2s ease-out;
}
#menu li.show {
  opacity: 1 !important;
}
#menu li.reload {
  margin-left: 200px;
  position: relative;
  top: 6px;
  -webkit-transition: opacity 0s ease-out;
          transition: opacity 0s ease-out;
}
#menu.show li {
  opacity: .2;
}
#menu.notrans {
  -webkit-transition: none;
          transition: none;
}

.loader-icon {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  display: block;
}
.loader-icon.anim {
  -webkit-animation: loader 1s infinite linear;
          animation: loader 1s infinite linear;
}

#loader .loader-icon {
  border: 2px solid #353541;
  border-bottom-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  margin: -8px;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
.pages {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: opacity .2s linear;
          transition: opacity .2s linear;
  z-index: 29;
  position: absolute;
  width: 254.4px;
  height: 100%;
}
/*@media (max-width: 480px) {
  #pages {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
  }
}*/
.pages.hide {
  -webkit-transition: opacity .1s linear;
          transition: opacity .1s linear;
  opacity: 0;
}

.page {
  overflow-y: auto;
  overflow-x: hidden;
  height: 377.6px;
  display: none;
  padding-right: 22px;
}

.hide{
  display:none;
}
.show{
  display:block;
}

.page.hide{
  display:none;
}
.page.show{
  display:block;
}

/*#latest {
  display: block;
}*/

.back1 {
  background: -webkit-linear-gradient(-50deg, #ae93bb, #a63d71);
  background: -o-linear-gradient(-50deg, #ae93bb, #a63d71); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-50deg, #ae93bb, #a63d71); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-50deg, #ae93bb, #a63d71); /* Standard syntax */
  /*background-image: url("paper.gif");*/
}


.box {
  height: 116px;
  position: relative;
  width: 50%;
  float: left;
  cursor: pointer;
  background-color:#eee;
}
.box.right {
  float: right;
}
.box.tall {
  height: 232px;
}
.box.wide {
  width: 100%;
}
.box.small {
  width: 100%;
  height: 50px;

}
.box.category-box{
  height:200px;
  width:100%;
  cursor:default;
}
.box.hero {
  height: 240px;
  width: 100%;
  
}
.box.hero span {
  font-size: 23px;
}
.box span {
  position: absolute;
  color: #000;
  font-size: 13px;
  bottom: 0;
  left: 0;
  padding:0 0 10px 10px;
  margin:0;
  /*text-transform: uppercase;*/
  /*padding: 25px 25px;*/
  font-weight: 600;

}

#about {
  color: #000;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
}
#about div {
  position: relative;
  left: -6px;
  top: 50%;
  margin-top: -30px;
}
#about span {
  font-size: 20px;
}

#text {
  position: absolute;
  /*height: 640px;*/

  left: 46%;
  top: 7%;
  margin: 0px 20px;
  color: #fff;
  z-index:10;
}
@media (max-width: 480px) {
  #text, #pullmenu-icon {
    position:relative;
    left:0;
    top:0;
    margin:0 10px;
    font-size:20px;
    text-align:center;

  }
    #text h1 {
      margin: 0;
      font-size: 30px;
      line-height: 30px;
      color:#78F0F0;
    }
}
#text h1 {
  margin: 0;
  font-size: 60px;
  line-height: 60px;
  color:#78F0F0;
}
#text h2 {
  margin: 0;
  font-size: 40px;
  line-height: 50px;
  color:#fff;
  text-transform: uppercase;
}
#text h3 {
  font-size: 23px;
  margin: 0;
  text-transform: uppercase;
  margin-top: 10px;
}
#text h4 {
  opacity: 0.3;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  margin-top: 30px;
}

#pullmenu-icon {
  width: 40px;
  height: 5px;
  background: #353541;
  margin-top: 69px;
  position: relative;
  margin-bottom: 40px;
  left: 6px;
}
#pullmenu-icon:before {
  width: 40px;
  height: 5px;
  background: #353541;
  content: '';
  position: absolute;
  top: 10px;
}
#pullmenu-icon:after {
  width: 22px;
  height: 5px;
  background: #353541;
  content: '';
  position: absolute;
  top: 20px;
  left: 9px;
}

#coolors {
  position: fixed;
  bottom: 20px;
  right: 30px;
  text-decoration: none;
  color: #353541;
  font-size: 11px;
  text-transform: uppercase;
}


/*****************************************************/

.ortala input{
  border:none;
  background:#eee;
  /*width:250px;*/
  width:70%;
  height:40px;
  padding:10px;
  font-size:18px;
  position:relative;
  left:0px;
  transition:.5s all;
  float:left;
}
.ortala input:focus, .ortala button:focus{outline:0;}
.ortala button:active{background:#ac303a}
.ortala button{
  /*left:300px;*/
  content:"sa";
  display:inline-block;
  /*width:100px;*/
  width:30%;
  height:40px;
  background:#c43e49;
  color:white;
  text-align:center;
  line-height:40px;
  position:relative;
  z-index:2;
  transition:.5s all, .3s background;
  left:0;
  float:right;
  border:none;
}

.ortala{
  /*width:350px;*/
  margin: 20px 0;
  /*margin-bottom:50px;*/
}

.ortala:hover button{
    /*left:300px;*/
  cursor:pointer;
  content:"sa";
}
.ortala:hover input{
    /*left:-100px;*/
}
/*
.sa:before{
  content:"Subscribe";
  transition:.7s all;
  opacity:1;
  position: absolute;
  z-index:0;
  left:15px;
  top:0px;
}

.sa:after{
  content: 'Yeah!';
  transition:.7s all;
  opacity:0;
  position: absolute;
  z-index:0;
  left:27px;
  top:0px;
}
*/
.ortala:hover .sa:before{
  opacity:0;
}

.ortala:hover .sa:after{
  opacity:1;
}

/***************************/
.blackScreen{
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.5);
  z-index:50;
  position:absolute;
}


/***************/
#socialmedia i, #appstore i{
  padding: 0 10px;
}



/************SLIDER**************************/
/*
h1 {
  color: #fff;
  text-align: center;
  font-weight: 300;
}*/

/*#prevSlide, #nextSlide{
  position:relative;
  overflow:hidden;
  background-color:black;
  width:5px;
  height:180px;
  margin:0;
  padding:0;
  display:inline-block;
}
*/
.screener{
  width:100%;
  height:100%;
  position:absolute;
  background: rgba(0, 0, 0, 0.3);
  z-index:10;
}

#slider {
  /*display:inline-block;*/
  position: relative;
  overflow: hidden;
  /*margin: 20px auto 0 auto;*/
  margin:0 auto;
  border-radius: 4px;
  width:100%;
  height:100%;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /*background: #ccc;*/
/*  text-align: center;
  line-height: 300px;
  color:#eee;
  font-size:35px;
  font-weight:600;*/
}
#slider ul li span{
  text-align: center;
  line-height: 300px;
  color:#eee;
  font-size:35px;
  font-weight:600;
  z-index:20;
}


a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}


/***************CUSTOMIZE SLIDER****************/
.slider1{
  background-image: url("/img/category/cafe.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.slider2{
  background-image: url("/img/category/calm.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.slider3{
  background-image: url("/img/category/chillax.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.slider4{
  background-image: url("/img/category/classic.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.slider5{
  background-image: url("/img/category/k-classic.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.slider6{
  background-image: url("/img/category/k-drama.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.slider7{
  background-image: url("/img/category/rainy-days.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.slider8{
  background-image: url("/img/category/study.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.slider9{
  background-image: url("/img/category/sunshine.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.slider10{
  background-image: url("/img/category/workout.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
