
.back1 {
  background: -webkit-linear-gradient(-50deg, #ae93bb, #a63d71);
  background: -o-linear-gradient(-50deg, #ae93bb, #a63d71); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-50deg, #ae93bb, #a63d71); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-50deg, #ae93bb, #a63d71); /* Standard syntax */
  /*background-image: url("paper.gif");*/
}

.back2 {
  background: -webkit-linear-gradient(-50deg, #97c794, #12656c);
  background: -o-linear-gradient(-50deg, #97c794, #12656c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-50deg, #97c794, #12656c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-50deg, #97c794, #12656c); /* Standard syntax */
}

.back3 {
  background: -webkit-linear-gradient(-50deg, #808fb6, #373f52);
  background: -o-linear-gradient(-50deg, #808fb6, #373f52); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-50deg, #808fb6, #373f52); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-50deg, #808fb6, #373f52); /* Standard syntax */
}

.back4 {
  background: -webkit-linear-gradient(-50deg, #caa285, #c0bf3c);
  background: -o-linear-gradient(-50deg, #caa285, #c0bf3c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-50deg, #caa285, #c0bf3c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-50deg, #caa285, #c0bf3c); /* Standard syntax */
}

.back5 {
  background: -webkit-linear-gradient(-50deg, #93b0bb, #3d7aa6);
  background: -o-linear-gradient(-50deg, #93b0bb, #3d7aa6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-50deg, #93b0bb, #3d7aa6); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-50deg, #93b0bb, #3d7aa6); /* Standard syntax */
}

.back6 {
  background: -webkit-linear-gradient(-50deg, #bba793, #a65d3d);
  background: -o-linear-gradient(-50deg, #bba793, #a65d3d); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-50deg, #bba793, #a65d3d); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-50deg, #bba793, #a65d3d); /* Standard syntax */
}

.back7 {
  background: -webkit-linear-gradient(-50deg, #9d93bb, #6659a1);
  background: -o-linear-gradient(-50deg, #9d93bb, #6659a1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-50deg, #9d93bb, #6659a1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-50deg, #9d93bb, #6659a1); /* Standard syntax */
}

.back8 {
  background: -webkit-linear-gradient(-50deg, #afabb2, #695f64);
  background: -o-linear-gradient(-50deg, #afabb2, #695f64); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-50deg, #afabb2, #695f64); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-50deg, #afabb2, #695f64); /* Standard syntax */
}

.back9 {
  background: -webkit-linear-gradient(-50deg, #a589b0, #d35c5c);
  background: -o-linear-gradient(-50deg, #a589b0, #d35c5c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-50deg, #a589b0, #d35c5c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-50deg, #a589b0, #d35c5c); /* Standard syntax */
}

.back10 {
  background: -webkit-linear-gradient(-50deg, #93bb95, #5a774e);
  background: -o-linear-gradient(-50deg, #93bb95, #5a774e); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-50deg, #93bb95, #5a774e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-50deg, #93bb95, #5a774e); /* Standard syntax */
}

.back11 {
  background: -webkit-linear-gradient(-50deg, #bde5d0, #123c6c);
  background: -o-linear-gradient(-50deg, #bde5d0, #123c6c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-50deg, #bde5d0, #123c6c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-50deg, #bde5d0, #123c6c); /* Standard syntax */
}